$background-color: #1a1a1a;
$text-color: #DAE3E5;
$primary-color: #507DBC;
$secondary-color: #A1C6EA;
$tertiary-color: #BBD1EA;
$font-size: 1.2em;
.posts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 150px;
}

.post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1%;
  width: 70%;

  &_body {
    cursor: pointer;
    width: 100%;
    margin: 1%;
    padding: 20px;
    background-color: #1a1a1a;
    color: $text-color;
    font-size: 1.2em;
    font-weight: 500;
    font-family: inherit;
    border: 1px solid $secondary-color;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 $primary-color;
    transition: transform 200ms ease-in color;

    &:hover {
      transform: scale(1.02);
    }
  }

  &_username {
    font-size: 1rem;
    margin-top: 0px;
    color: rgb(179, 179, 179);
    padding-top: 1%;
  }
}

@media (max-width: 768px) {
  h2 {
    font-size: 1.6rem;
    line-height: 1.1;
    margin: auto;
  }

  h4 {
    font-size: 1.2rem;
    line-height: 1.1;
    margin: 4%;
  }

  p {
    font-size: 1rem;
    line-height: 1.1;
    margin: 4% 4% 0% 4%;
  }

  .post_body {
    padding: 5px;
  }
  .posts {
    &_post {
      width: 90%;
    }
  }
}