.signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 4%;
  
    &_card {
      width: 400px;
      margin: 0 auto;
      padding: 20px;
      background-color: #1a1a1a;
      color: #646cff;
      font-size: 1.2em;
      font-weight: 500;
      font-family: inherit;
      border: 1px solid #646cff;
      border-radius: 10px;
      box-shadow: 0 0 10px 0 #646cff;
  
      &_header {
        font-size: 30px;
        margin-bottom: 20px;
      }
  
      &_formInput {
        margin-bottom: 20px;
        width: 100%;
        // padding: 10px;
        border-radius: 5px;
        border: 1px solid #646cff;
        background-color: #1a1a1a;
        color: #646cff;
        font-size: 1.2em;
        font-weight: 500;
        font-family: inherit;
  
        &:focus {
          outline: none;
          border: 1px solid #535bf2;
        }
      }
    }
  
  
  }